@import "/src/styles/colors";

.user-board {
  &__container {
    position: relative;
    width: 252px;
    height: 450px;
  }
  &__main-img,
  &__top-img,
  &__bottom-img {
    width: 100%;
    height: 100%;
  }
  &__main-img {
    border-radius: 1rem 0rem 0rem 1rem;
    border-right: 2px solid white;
  }
  &__top-img {
    border-radius: 0rem 1rem 0rem 0rem;
    border-bottom: 1px solid white;
  }
  &__bottom-img {
    border-radius: 0rem 0rem 1rem 0rem;
    border-top: 1px solid white;
  }

  &__images {
    width: 100%;
    height: 168px;

    & > a {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    & .user-board__overlay:hover {
      opacity: 1;
    }
  }

  &__age {
    color: $dark-gray;
  }

  &__overlay {
    display: flex;
    opacity: 0;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba($color: #000000, $alpha: 0.3);
    border-radius: 1rem;
  }
}
