@import "/src/styles/colors";

.rounded-input {
  border: none;
  border-radius: 1rem;
  border: solid 2px $light-gray;
  padding: 0.75rem;

  &:focus {
    outline: solid 4px $light-blue;
    border-color: $light-gray !important;
  }

  &:hover {
    border-color: $dark-gray;
  }
}
