@import "../../styles/colors.scss";

.input-container {
  position: relative;
  display: grid;
  --input-content: "abcdefg";
  width: 100%;
  padding-bottom: 2rem;

  &::after {
    content: var(--input-content);

    white-space: pre-wrap;
    overflow-x: hidden;
    overflow-wrap: break-word;

    visibility: hidden;
    grid-area: 1 / 1 / 2 / 2;

    border-bottom: 2px black hidden;
  }

  textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;

    overflow: hidden;
    grid-area: 1 / 1 / 2 / 2;

    border: none;
    border-bottom: 2px $dark-gray solid;
    padding: 0;
    outline: none;

    &:focus {
      border-bottom: 2px $light-blue solid;
    }
  }

  // ::after is an exact replica of textarea
  textarea,
  &::after {
    font-size: inherit;
    padding-bottom: 0.5em;
    min-height: 0;
  }

  .input-tip {
    position: relative;
    color: $dark-gray;
    font-size: 0.9rem;
    width: 100%;

    &__text {
      flex-basis: 80%;
    }

    &__limit {
      right: 0;
    }
    visibility: hidden;
  }
}
