.btn-section {
  border: none;
  background: none;
  padding: 0.2rem 1rem;
  height: auto;
  width: auto;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background: rgba($color: #000, $alpha: 20%);
  }

  &-active {
    border-radius: 0;
    border-bottom: 3px black solid;
  }
}
