.responsive-image {
  position: relative;
  display: block;
  height: fit-content;
  max-height: 100%;
  width: 100%;
  border-radius: 1rem;

  &__container {
    overflow: hidden;
    border-radius: 1rem;
    & > img {
      display: block;
      width: 100%;
      border-radius: 1rem;
    }
  }
}

.responsive-image__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;

  & * {
    visibility: hidden;
  }

  &:hover {
    background: rgba($color: #000000, $alpha: 0.2);

    & * {
      visibility: visible;
    }
  }
}
