.responsive-image__container {
  position: relative;
  height: fit-content;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;

  & img {
    max-width: 100%;
  }
}

.responsive-image__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;

  & * {
    visibility: hidden;
  }

  &:hover {
    background: rgba($color: #000000, $alpha: 0.2);

    & * {
      visibility: visible;
    }
  }
}
