@import "/src/styles/mixins";

.logo {
  content: url("../../../images/pinterest-logo.png");
}

.top-bar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 3;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 1px;
    z-index: -1;
    transform: scale(1);
    box-shadow: 0 0 12px 2px rgb(0 0 0 / 20%);
  }
}

.phone-grid {
  display: none;
  @include phone {
    display: block;
  }
}

.desktop-grid {
  display: block;
  @include phone {
    display: none;
  }
}

.burger-button {
  margin-left: 10px;
  flex-shrink: 0;
}
