@import "../../styles/colors";

.btn-round {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  padding: 0;
  background: none;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background: $light-gray;
  }

  &__action {
    background: white;
    box-shadow: 0 0 22px 0 rgb(0 0 0 / 20%);
    border: white solid 4px;
    width: fit-content;
    height: fit-content;
  }
}
