@import "../../styles/colors";

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
  background: none;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

.home-container {
  // background-color: $light-gray;
  padding: 0px 50px 0px 50px;
}
