.card-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  min-height: none;
  min-width: none;
  background-color: white;
  border-radius: 1rem;
  padding: 4rem;

  box-sizing: border-box;

  box-shadow: 0 0 22px 0 rgb(0 0 0 / 20%);
}
