.user {
  &__subscriptions {
    margin-left: 10px;
  }

  &__subscribed-btn {
    background-color: white;
    border: solid 2px black;
    color: black;
  }
}

.user-masonry-grid {
  margin-top: 20px;
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: 100%;

  &_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
    background: none;
    & > div {
      margin-bottom: 30px;
    }
  }
}

.user-page {
  width: 100%;
  overflow-x: hidden;
}
