@import "../../styles/colors";

.comment {
  &__content {
    border: 1px solid $dark-gray;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
  }

  &__btn {
    width: 32px;
    height: 32px;
  }

  &__btn-useful {
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__container {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__avatar {
    width: 48px;
    height: 48px;
  }

  &__date {
    color: $dark-gray;
    margin-left: 1rem;
  }

  &-section {
    width: 100%;

    &__btn {
      transition: all 0.2s ease-in-out;
    }
  }

  &__actions {
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
  }

  &__input-cancel-btn {
    background-color: $light-gray;
    color: black;
  }

  &__input-send-btn {
    background-color: $red;

    &.inactive {
      background-color: $light-gray;
      color: $dark-gray;
    }
  }
  &-more-dropdown {
    padding: 0;
    min-width: 70px;
  }
}

.reply {
  &__container {
    width: 100%;
  }
}
