.edit-pin-popup {
  &__input {
    max-width: 368px;
  }

  &__selection {
    max-width: 368px;
    background-color: lightgray;
    border-radius: 1rem;
  }

  &__dropdown {
    width: 100%;
    border: 1px lightgray solid;

    & .search-panel:hover {
      background: white;
      cursor: default;
    }
  }
}
