.text-popup {
  position: fixed;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;

  & .card-container {
    padding: 20px;
    min-height: max-content;
    min-width: max-content;
    width: fit-content;
    background-color: black;
    color: white;
  }

  animation: slideUp 0.5s;
}

@keyframes slideUp {
  from {
    bottom: -80px;
  }

  to {
    bottom: 40px;
  }
}
