.text-popup {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;

  & .card-container {
    padding: 20px;
    min-height: max-content;
    min-width: max-content;
    width: fit-content;
    background-color: black;
    color: white;
  }
}
