@import "/src/styles/colors";

.text-popup {
  position: fixed;
  z-index: 4;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px;

  & .card-container {
    padding: 20px;
    min-height: max-content;
    min-width: max-content;
    width: fit-content;
  }

  animation: slideUp 0.5s;

  &.info .card-container {
    background-color: black;
    color: white;
  }

  &.error .card-container {
    background-color: $red;
    color: white;
  }

  &.warning .card-container {
    background-color: $warning;
    color: white;
  }
}

@keyframes slideUp {
  from {
    bottom: -80px;
  }

  to {
    bottom: 60px;
  }
}
