@import "/src/styles/colors";
@import "/src/styles/mixins";

.create-board-popup {
  margin-top: 80px !important;
  height: fit-content !important;
  width: 100% !important;
  max-width: 600px !important;
  margin-left: 20px;
  margin-right: 20px;

  @include phone {
    width: 340px !important;
  }
}

.board-create__btn {
  background-color: $red;
}
